nav {
    margin-top: 50px;
}

.navbar {
    padding-left: 60px;
    background-color: rgb(242, 242, 242);
    width: 100%;
    height: 50px;
    margin: -5px 0 0 -10px;
    position: sticky;
}

.navbar a {
    margin-left: 40px;
    text-decoration: none;
    font-family: "Times New Roman", "serif";
    font-size: 20px;
    color: black;

}

.titrenavbar {
    font-family: "Lucida Handwriting", "cursive";
    display: inline;
    margin: 30px 0 0 0;
    padding: 0 0 0 10px;
    font-size: 40px;
}

.Bienvenue {
    text-align: center;
    font-family: "Georgia", "Serif";
    margin-top: 10%;
}

.carré {
    width: 50px;
    height: 50px;
    background: #FFD7D7;
    position: absolute;
    animation-name: carré_animation;
    animation-duration: 4s;
    z-index: -1;
}

@keyframes carré_animation {
    0% {
        background-color: #FFD7D7;
        left: 0px;
        top: 0px;
    }

    20% {
        background-color: #FEA2A1;
        left: 90%;
        top: 0px;
    }

    50% {
        background-color: #F75563;
        left: 90%;
        top: 90%;
    }

    75% {
        background-color: #BF172F;
        left: 0px;
        top: 90%;
    }

    100% {
        background-color: rgb(116, 11, 11);
        left: 0px;
        top: 0px;
    }
}

footer {
    text-align: center;
    margin-top: 30%;
    width: 100%;
    height: 50px;
    background-color: rgb(242, 242, 242);
}